{:paths ["src" "resources"]
 :deps {overtone/overtone {:mvn/version "0.14.3199"}
        io.github.tonsky/clj-reload {:mvn/version "0.7.0"}
        quil/quil {:mvn/version "4.3.1563"}
        org.clojure/clojure {:mvn/version "1.11.1"}}
 :aliases
 {:run-m {:main-opts ["-m" "neilyio.metal-detectors"]}
  :run-x {:ns-default neilyio.metal-detectors
          :exec-fn greet
          :exec-args {:name "Clojure"}}
  :build {:deps {io.github.clojure/tools.build {:mvn/version "0.9.4"}}
          :ns-default build}
  :test {:extra-paths ["test"]
         :extra-deps {org.clojure/test.check {:mvn/version "1.1.1"}
                      io.github.cognitect-labs/test-runner
                      {:git/tag "v0.5.1" :git/sha "dfb30dd"}}}}}
